.nav-body{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  display: flex;
  justify-content: center;
  letter-spacing: 10px;
  font-size: x-large;
}

.hero-comp{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card {
  max-width: 200px;
  margin-left: 70px;
  margin-top: 70px;
  position: relative;
  right: -10%;
  zoom: 1.125;
}

.btn {
  padding: 10px;
  margin-top: 30px;
  width: 150px;
  background-color: white;
  color: blue;
  border: 2px solid blue;
  cursor: pointer;
}

.glasses {
  zoom: 0.75;
  left: -10%;
  position: relative;
}


.category{
  display: flex;
  justify-content: center;
}

h5 {
  margin: 20px;
}

.card-image {
  zoom: 0.25;
  
}

.card1{
  max-width: 350px;
}

.product-cards{
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  padding-left: 10%;
}